<!--Higher Education Details start-->
<div class="container">
    <ul class="sub-body-page nav nav-tabs sub-tab-right-align">
        <li class="active"><a href="" data-toggle="tab" data-target="#educationDetails">Preview</a></li>
        <li><a href="" data-toggle="tab" data-target="#educationDetailsEdit">Add/Edit</a></li>
    </ul>

    <div class="tab-content">
        <div id="educationDetails" class="tab-pane fade in active">
            <div class="col-md-12 p_lr_0 p_b_0" style="border: solid;border-color: #00627e;">
                <h3>Higher Education Details </h3>
                <!--{{educationList | json}}-->
                <h6> <strong>Note :- </strong> Pls furnish details of Highest Qualification only,Attach scanned copy of Provisional degree certificate and Consolidated marksheet.</h6>
                <table class="table table-striped" style="margin-bottom: 0px">
                    <thead>
                    <tr>
                        <th class="col-md-1">Course Name</th>
                        <th class="col-md-2">Institute/College</th>
                        <th class="col-md-2">College Address</th>
                        <th class="col-md-1">Contact numbers</th>
                        <th class="col-md-3">University Details</th>
                        <th class="col-md-1">Register No</th>
                        <th class="col-md-1">Month & year of passing</th>
                        <th class="col-md-1">SSN (If studied in USA)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-capitalize" ng-repeat="education in educationList track by $index">
                        <td>{{education.course}}</td>
                        <td>{{education.instituteOrCollege}}</td>
                        <td>{{education.address}}</td>
                        <td>{{education.contactNo}}</td>
                        <td>{{education.universityName}}</td>
                        <td>{{education.registrationNo}}</td>
                        <td>{{education.passingMonthYear}}</td>
                        <td>{{education.ssn}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="educationDetailsEdit" class="tab-pane fade">
            <div class="col-md-12" style="border: solid; border-color: #f16235;">
                <p>&nbsp;</p>
                <form name="userEducationDetailsForm" ng-submit="userDashboard.updateBGCEducationDetails()">
                    <p style="border-bottom-color: #f16235; border-width: thin; border-bottom-style: solid;">Higher Education Details :- </p>
                    <div class="col-md-3 form-group">
                        <label for="course_name">Course Name<span class="requiredStar">*</span>:</label>:
                        <input type="text" class="form-control" id="course_name" placeholder="Course Name" maxlength="150" ng-model="updateEducationDetails.course" required>
                    </div>

                    <div class="col-md-3 form-group">
                        <label for="college">Institute/college<span class="requiredStar">*</span>:</label>:
                        <input type="text" class="form-control" id="college" placeholder="Institute/college" maxlength="100" ng-model="updateEducationDetails.instituteOrCollege" required>
                    </div>

                    <div class="col-md-3 form-group">
                        <label for="collegeAddress">College Address<span class="requiredStar">*</span>:</label>:
                        <input type="text" class="form-control" id="collegeAddress" placeholder="College Address" maxlength="100" ng-model="updateEducationDetails.address" required>
                    </div>

                    <div class="col-md-3 form-group">
                        <label for="university">University Details<span class="requiredStar">*</span>:</label>
                        <input type="text" title="University" class="form-control" id="university" placeholder="University" maxlength="50" ng-model="updateEducationDetails.universityName" required>
                    </div>

                    <div class="col-md-3 form-group">
                        <label for="collegeContact">Contact Numbers<span class="requiredStar">*</span>:</label>
                        <input type="text" title="Contact Number" class="form-control" id="collegeContact" placeholder="Contact Number" maxlength="30" ng-model="updateEducationDetails.contactNo" required>
                    </div>


                    <div class="col-md-2 form-group">
                        <label for="registrationNo">Registration No.<span class="requiredStar">*</span>:</label>
                        <input type="text" title="Registration" class="form-control" id="registrationNo" placeholder="Registration No." maxlength="30" ng-model="updateEducationDetails.registrationNo" required>
                    </div>

                    <div class="col-md-2 form-group" ng-init="getMonthYearDate()">
                        <label for="yearOfPassing">Month & year of passing<span class="requiredStar">*</span>:</label>
                        <input type="text" title="Month & year of passing" class="form-control datetimepicker1" id="yearOfPassing" placeholder="Month & year of passing" maxlength="30" onkeydown="return false;" ng-model="updateEducationDetails.passingMonthYear" required>
                    </div>

                    <div class="col-md-2 form-group">
                        <label for="ssn">SSN(If studied in USA):</label>
                        <input type="text" title="SSN (If studied in USA)" class="form-control" id="ssn" placeholder="SSN (If studied in USA)" maxlength="30" ng-model="updateEducationDetails.ssn">
                    </div>

                    <div class="col-md-3 form-group" style="text-align: right">
                        <p>&nbsp;</p>
                        <button type="submit" class="btn btn-primary"> Save </button>
                        <a href="" type="button" class="btn btn-default"><i class="fa fa-times"></i> Cancel </a>
                    </div>
                    <!--href="#!/user-dashboard"-->
                </form>
            </div>
        </div>
    </div>
</div>
<!--Higher Education Details end-->