<!--Employment Verifications start-->
<ul class="sub-body-page nav nav-tabs sub-tab-right-align">
    <li class="active"><a href="" data-toggle="tab" data-target="#employmentDetails">Preview</a></li>
    <li><a href="" data-toggle="tab" data-target="#employmentDetailsEdit">Add/Edit</a></li>
</ul>

<div class="tab-content">
    <div id="employmentDetails" class="tab-pane fade in active">
        <div class="col-md-12 p_lr_0 p_b_0" style="border: solid;border-color: #00627e;">

            <div class="col-md-12 p_lr_0 p_b_0" style="border: solid;border-color: #00627e;">
                <h3>Employment Verifications Details</h3>
                <h6> <strong>Note :- </strong> Employment Verifications(Please furnish employment details for the last 5 yrs).</h6>
                <table class="table table-striped" style="margin-bottom: 0px">
                    <tbody>
                    <tr>
                        <td colspan="2" class="col-md-2 convert-td-in-header"><strong>Information Type</strong></td>
                        <td><strong>Employment1</strong></td>
                        <td><strong>Employment2</strong></td>
                        <td><strong>Employment3</strong></td>
                        <td><strong>Employment4</strong></td>
                        <td><strong>Employment5</strong></td>
                    </tr>

                    <tr>
                        <td colspan="2" class="convert-td-in-header">Company Name</td>
                        <td>a technologies pvt ltd</td>
                        <td>a technologies pvt ltd</td>
                        <td>a technologies pvt ltd</td>
                        <td>a technologies pvt ltd</td>
                        <td>a technologies pvt ltd</td>
                    </tr>
                    <tr>
                        <td colspan="2"  class="convert-td-in-header">Address with Pin Code</td>
                        <td>Rostan Technologies sector 54 chowk, sikandarpur, gurgaon, 122002</td>
                        <td>Rostan Technologies sector 54 chowk, sikandarpur, gurgaon, 122002</td>
                        <td>Rostan Technologies sector 54 chowk, sikandarpur, gurgaon, 122002</td>
                        <td>Rostan Technologies sector 54 chowk, sikandarpur, gurgaon, 122002</td>
                        <td>Rostan Technologies sector 54 chowk, sikandarpur, gurgaon, 122002</td>

                    </tr>
                    <tr>
                        <td colspan="2"  class="convert-td-in-header">Remuneration</td>
                        <td>600000</td>
                        <td>600000</td>
                        <td>600000</td>
                        <td>600000</td>
                        <td>600000</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="convert-td-in-header">Designation</td>
                        <td>Software Engneer</td>
                        <td>Software Engneer</td>
                        <td>Software Engneer</td>
                        <td>Software Engneer</td>
                        <td>Software Engneer</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="convert-td-in-header">Employee code</td>
                        <td>RST123456</td>
                        <td>RST123456</td>
                        <td>RST123456</td>
                        <td>RST123456</td>
                        <td>RST123456</td>

                    </tr>
                    <tr>
                        <td colspan="2" class="convert-td-in-header">Reasons for leaving</td>
                        <td>Learning</td>
                        <td>Learning</td>
                        <td>Learning</td>
                        <td>Learning</td>
                        <td>Learning</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="convert-td-in-header" title="In years & month i.e 2 years & 1 month">Period of Employment</td>
                        <td>3 Years 1 Month</td>
                        <td>3 Years 1 Month</td>
                        <td>3 Years 1 Month</td>
                        <td>3 Years 1 Month</td>
                        <td>3 Years 1 Month</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="convert-td-in-header">From Date</td>
                        <td>31/12/2006</td>
                        <td>31/12/2006</td>
                        <td>31/12/2006</td>
                        <td>31/12/2006</td>
                        <td>31/12/2006</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="convert-td-in-header">To Date</td>
                        <td>31/12/2006</td>
                        <td>31/12/2006</td>
                        <td>31/12/2006</td>
                        <td>31/12/2006</td>
                        <td>31/12/2006</td>
                    </tr>
                    <tr>
                        <td rowspan="3" class="convert-td-in-header">HR Details</td>
                        <td class="convert-td-in-header">Name</td>
                        <td>Jaydeep Verma</td>
                        <td>Jaydeep Verma</td>
                        <td>Jaydeep Verma</td>
                        <td>Jaydeep Verma</td>
                        <td>Jaydeep Verma</td>
                    </tr>
                    <tr>
                        <td class="convert-td-in-header">Contact</td>
                        <td>99999999999</td>
                        <td>99999999999</td>
                        <td>99999999999</td>
                        <td>99999999999</td>
                        <td>99999999999</td>
                    </tr>
                    <tr>
                        <td class="convert-td-in-header">email</td>
                        <td>abcdeefff@gmail.com</td>
                        <td>abcdeefff@gmail.com</td>
                        <td>abcdeefff@gmail.com</td>
                        <td>abcdeefff@gmail.com</td>
                        <td>abcdeefff@gmail.com</td>
                    </tr>
                    <tr>
                        <td rowspan="3" class="convert-td-in-header">Supervisor Details</td>
                        <td class="convert-td-in-header">Name</td>
                        <td>abc shrivastava</td>
                        <td>abc shrivastava</td>
                        <td>abc shrivastava</td>
                        <td>abc shrivastava</td>
                        <td>abc shrivastava</td>
                    </tr>
                    <tr>
                        <td class="convert-td-in-header">Contact</td>
                        <td>9999999999</td>
                        <td>9999999999</td>
                        <td>9999999999</td>
                        <td>9999999999</td>
                        <td>9999999999</td>

                    </tr>
                    <tr>
                        <td class="convert-td-in-header">email</td>
                        <td>abcdefeee@gmail.com</td>
                        <td>abcdefeee@gmail.com</td>
                        <td>abcdefeee@gmail.com</td>
                        <td>abcdefeee@gmail.com</td>
                        <td>abcdefeee@gmail.com</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div id="employmentDetailsEdit" class="tab-pane fade">
        <div class="col-md-12" style="border: solid; border-color: #f16235;">
            <p>&nbsp;</p>
            <h6> <strong>Note :- </strong> Please add employment latest to oldest order for the last 5 yrs.</h6>
            <form name="userEmploymentDetailsForm" ng-submit="userDashboard.addUpdateEmploymentDetails()">
                <p style="border-bottom-color: #f16235; border-width: thin; border-bottom-style: solid;">Employment Details :- <label><input type="checkbox" value="" ng-model="bgcEmploymentModel.isExperienced" ng-change="checkEmployment(bgcEmploymentModel.isExperienced)"><strong>Experienced</strong></label></p>

                <div class="row" style="border: solid; border-width: thin;border-color: gray; padding-top: 10px" ng-repeat="employment in bgcEmploymentModel.employmentList track by $index">
                    <div class="col-md-11">
                        <div class="col-md-3 form-group">
                            <label for="companyName{{$index}}">Company Name<span class="requiredStar">*</span>:</label>:
                            <input type="text" class="form-control" id="companyName{{$index}}" placeholder="Company Name" ng-model="employment.companyName" maxlength="100" required>
                        </div>

                        <div class="col-md-3 form-group">
                            <label for="remuneration{{$index}}">Remuneration<span class="requiredStar">*</span>:</label>:
                            <input type="text" class="form-control" id="remuneration{{$index}}" placeholder="Remuneration" maxlength="100" required>
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="designation{{$index}}">Designation<span class="requiredStar">*</span>:</label>:
                            <input type="text" class="form-control" id="designation{{$index}}" placeholder="Designation" maxlength="100" required>
                        </div>

                        <div class="col-md-3 form-group">
                            <label for="employeeCode{{$index}}">Employee Code<span class="requiredStar">*</span>:</label>:
                            <input type="text" class="form-control" id="employeeCode{{$index}}" placeholder="Employee Code" maxlength="50" required>
                        </div>


                        <div class="col-md-6 form-group">
                            <label for="companyAddress{{$index}}">Address with Pin Code<span class="requiredStar">*</span>:</label>:
                            <input type="text" class="form-control" id="companyAddress{{$index}}" placeholder="Company Address" maxlength="200" required>
                        </div>


                        <div class="col-md-2 form-group">
                            <label for="employmentFromDate{{$index}}">From Date<span class="requiredStar">*</span>:</label>
                            <input type="text" class="form-control" id="employmentFromDate{{$index}}" placeholder="From" required>
                        </div>

                        <div class="col-md-2 form-group">
                            <label for="employmentToDate{{$index}}">To Date<span class="requiredStar">*</span>:</label>
                            <input type="text" class="form-control" id="employmentToDate{{$index}}" placeholder="To" required>
                        </div>

                        <div class="col-md-2 form-group">
                            <label for="employmentPeriod{{$index}}">Period<span class="requiredStar">*</span>:</label>:
                            <input type="text" title="Period of Employment (In years & month i.e 2 years & 1 month)" class="form-control" id="employmentPeriod{{$index}}" placeholder="Period" maxlength="50" required>
                        </div>


                        <div class="col-md-6">
                            <p>HR details :-</p>
                            <div class="col-md-4 form-group">
                                <label for="employmentHRName{{$index}}">Name<span class="requiredStar">*</span>:</label>
                                <input type="text" class="form-control" id="employmentHRName{{$index}}" placeholder="Name" required>
                            </div>

                            <div class="col-md-4 form-group">
                                <label for="employmentHRContact{{$index}}">Contact No.<span class="requiredStar">*</span>:</label>
                                <input type="text" class="form-control" id="employmentHRContact{{$index}}" placeholder="Contact" required>
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="employmentHREmail{{$index}}">Email Id.<span class="requiredStar">*</span>:</label>
                                <input type="text" class="form-control" id="employmentHREmail{{$index}}" placeholder="Email Id" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <p>Supervisor details :-</p>
                            <div class="col-md-4 form-group">
                                <label for="supervisorName{{$index}}">Name<span class="requiredStar">*</span>:</label>
                                <input type="text" class="form-control" id="supervisorName{{$index}}" placeholder="Name" required>
                            </div>

                            <div class="col-md-4 form-group">
                                <label for="supervisorContact{{$index}}">Contact No.<span class="requiredStar">*</span>:</label>
                                <input type="text" class="form-control" id="supervisorContact{{$index}}" placeholder="Contact" required>
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="supervisorEmail{{$index}}">Email Id.<span class="requiredStar">*</span>:</label>
                                <input type="text" class="form-control" id="supervisorEmail{{$index}}" placeholder="Email Id" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1" style="text-align: center; padding-top: 100px">
                        <button type="button" class="btn btn-danger btn-xs" ng-click="deleteEmploymentRow($index)"><i class="fa fa-trash-o"></i></button>
                    </div>
                </div>
                <div class="row" ng-show="bgcEmploymentModel.employmentList.length">
                    <table style="border-collapse: inherit">
                        <tr>
                            <td class="col-md-4">Can the Current Employer Reference be taken now(Please writeYes/No. If 'NO', state a date after which we can contact them)</td>
                            <td class="col-md-2"><input type="text" class="form-control" placeholder="Yes/No"></td>
                            <td class="col-md-2"><input type="text" class="form-control" placeholder="date"></td>
                            <td class="col-md-1" style="text-align: center"><a href="" ng-click="addNewEmployment()">Add New</a></td>
                            <td class="col-md-3"><button type="submit" class="btn btn-primary"> Save </button>
                                <a href="" type="button" class="btn btn-default"><i class="fa fa-times"></i> Cancel </a></td>
                        </tr>
                    </table>
                </div>


            </form>
        </div>
    </div>
</div>
<!--Employment Verifications end-->
<style>
    .convert-td-in-header{
        background-color: #00627e;
        color: white;
    }
    .table>tbody>tr>td {
        vertical-align: middle;
         text-align: center;
    }
</style>