<!--dashboard start-->

<div class="container">

    <div ng-include="'./app/template/common/breadcrumb.tpl.html'"></div>

    <div class="row m_lr_0 p_tb_15">
        <div class="col-md-2 left-panel text-uppercase">
            <p class="p_tb_15" style="float: right"><i class="fa fa-users fa-2x"></i></p>
            <br>
            <h3 class="m_t_50">79</h3>
            <h4 class="bottom-green-line">Employees Present</h4>
        </div>
        <div class="col-md-10 p_r_0">
            <!--<div class="col-md-3">-->
            <!--<div class="panel panel-primary ">-->
            <!--<div class="panel-heading">Panel Header</div>-->
            <!--<div class="panel-body">Panel Content</div>-->
            <!--<div class="panel-footer">Panel Footer</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-3">-->
            <!--<div class="panel panel-primary">-->
            <!--<div class="panel-heading">Panel Header</div>-->
            <!--<div class="panel-body">Panel Content</div>-->
            <!--<div class="panel-footer">Panel Footer</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-3">-->
            <!--<div class="panel panel-primary">-->
            <!--<div class="panel-heading">Panel Header</div>-->
            <!--<div class="panel-body">Panel Content</div>-->
            <!--<div class="panel-footer">Panel Footer</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-3">-->
            <!--<div class="panel panel-primary">-->
            <!--<div class="panel-heading">Panel Header</div>-->
            <!--<div class="panel-body">Panel Content</div>-->
            <!--<div class="panel-footer">Panel Footer</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-3">-->
            <!--<div class="panel panel-primary">-->
            <!--<div class="panel-heading">Panel Header</div>-->
            <!--<div class="panel-body">Panel Content</div>-->
            <!--<div class="panel-footer">Panel Footer</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-3">-->
            <!--<div class="panel panel-primary">-->
            <!--<div class="panel-heading">Panel Header</div>-->
            <!--<div class="panel-body">Panel Content</div>-->
            <!--<div class="panel-footer">Panel Footer</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-3">-->
            <!--<div class="panel panel-primary">-->
            <!--<div class="panel-heading">Panel Header</div>-->
            <!--<div class="panel-body">Panel Content</div>-->
            <!--<div class="panel-footer">Panel Footer</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-3">-->
            <!--<div class="panel panel-primary">-->
            <!--<div class="panel-heading">Panel Header</div>-->
            <!--<div class="panel-body">Panel Content</div>-->
            <!--<div class="panel-footer">Panel Footer</div>-->
            <!--</div>-->
            <!--</div>-->


            <!--horizontal collapse start-->

            <!--<div class="panel-group">-->
            <!--<div class="panel panel-primary">-->
            <!--<div class="panel-heading">-->
            <!--<h4 class="panel-title">-->
            <!--<a data-toggle="collapse" href="#monday">Monday</a>-->
            <!--</h4>-->
            <!--</div>-->
            <!--<div id="monday" class="panel-collapse collapse">-->
            <!--<div class="panel-body">Panel Body</div>-->
            <!--<div class="panel-footer">Panel Footer</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="panel-group">-->
            <!--<div class="panel panel-primary">-->
            <!--<div class="panel-heading">-->
            <!--<h4 class="panel-title">-->
            <!--<a data-toggle="collapse" href="#tuesday">Tuesday</a>-->
            <!--</h4>-->
            <!--</div>-->
            <!--<div id="tuesday" class="panel-collapse collapse">-->
            <!--<div class="panel-body">Panel Body</div>-->
            <!--<div class="panel-footer">Panel Footer</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="panel-group">-->
            <!--<div class="panel panel-primary">-->
            <!--<div class="panel-heading">-->
            <!--<h4 class="panel-title">-->
            <!--<a data-toggle="collapse" href="#wednesday">Wednesday</a>-->
            <!--</h4>-->
            <!--</div>-->
            <!--<div id="wednesday" class="panel-collapse collapse">-->
            <!--<div class="panel-body">Panel Body</div>-->
            <!--<div class="panel-footer">Panel Footer</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="panel-group">-->
            <!--<div class="panel panel-primary">-->
            <!--<div class="panel-heading">-->
            <!--<h4 class="panel-title">-->
            <!--<a data-toggle="collapse" href="#thursday">Thursday</a>-->
            <!--</h4>-->
            <!--</div>-->
            <!--<div id="thursday" class="panel-collapse collapse">-->
            <!--<div class="panel-body">Panel Body</div>-->
            <!--<div class="panel-footer">Panel Footer</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="panel-group">-->
            <!--<div class="panel panel-primary">-->
            <!--<div class="panel-heading">-->
            <!--<h4 class="panel-title">-->
            <!--<a data-toggle="collapse" href="#friday">Friday</a>-->
            <!--</h4>-->
            <!--</div>-->
            <!--<div id="friday" class="panel-collapse collapse">-->
            <!--<div class="panel-body">Panel Body</div>-->
            <!--<div class="panel-footer">Panel Footer</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="panel-group">-->
            <!--<div class="panel panel-primary">-->
            <!--<div class="panel-heading">-->
            <!--<h4 class="panel-title">-->
            <!--<a data-toggle="collapse" href="#saturday">Saturday</a>-->
            <!--</h4>-->
            <!--</div>-->
            <!--<div id="saturday" class="panel-collapse collapse">-->
            <!--<div class="panel-body">Panel Body</div>-->
            <!--<div class="panel-footer">Panel Footer</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="panel-group">-->
            <!--<div class="panel panel-primary">-->
            <!--<div class="panel-heading">-->
            <!--<h4 class="panel-title">-->
            <!--<a data-toggle="collapse" href="#sunday">Sunday</a>-->
            <!--</h4>-->
            <!--</div>-->
            <!--<div id="sunday" class="panel-collapse collapse">-->
            <!--<div class="panel-body">Panel Body</div>-->
            <!--<div class="panel-footer">Panel Footer</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--horizontal collapse end-->


            <!-- Nav tabs -->
            <ul class="right-panel nav nav-tabs nav-justified">
                <li class="p_r_20 active"><a data-toggle="tab" data-target="#monday1">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Monday</div>
                        <div class="panel-body">
                            <div class="row"><div class="col-md-6" style="border-right: solid; border-right-width: 1px">41</div><div class="col-md-6">45</div></div>
                        </div>
                        <div class="panel-footer"> 09:45 - 18:15 </div>
                    </div>
                </a>
                </li>
                <li class="p_r_20"><a data-toggle="tab" data-target="#tuesday1"> <div class="panel panel-primary ">
                    <div class="panel-heading">Tuesday</div>
                    <div class="panel-body"><div class="row"><div class="col-md-6" style="border-right: solid; border-right-width: 1px">41</div><div class="col-md-6">45</div></div></div>
                    <div class="panel-footer"> 09:45 - 18:15 </div>
                </div></a>
                </li>
                <li class="p_r_20"><a data-toggle="tab" data-target="#wednesday1"> <div class="panel panel-primary ">
                    <div class="panel-heading">Wednesday</div>
                    <div class="panel-body"><div class="row"><div class="col-md-6" style="border-right: solid; border-right-width: 1px">41</div><div class="col-md-6">45</div></div></div>
                    <div class="panel-footer"> 09:45 - 18:15 </div>
                </div></a>
                </li>
                <li class="p_r_20"><a data-toggle="tab" data-target="#thursday1"> <div class="panel panel-primary ">
                    <div class="panel-heading">Thursday</div>
                    <div class="panel-body"><div class="row"><div class="col-md-6" style="border-right: solid; border-right-width: 1px">41</div><div class="col-md-6">45</div></div></div>
                    <div class="panel-footer"> 09:45 - 18:15 </div>
                </div></a>
                </li>
                <li class="p_r_20"><a data-toggle="tab" data-target="#friday1"> <div class="panel panel-primary ">
                    <div class="panel-heading">Friday</div>
                    <div class="panel-body"><div class="row"><div class="col-md-6" style="border-right: solid; border-right-width: 1px">41</div><div class="col-md-6">45</div></div></div>
                    <div class="panel-footer"> 09:45 - 18:15 </div>
                </div></a>
                </li>
                <li class="p_r_20"><a data-toggle="tab" data-target="#saturday1"> <div class="panel panel-primary ">
                    <div class="panel-heading">Saturday</div>
                    <div class="panel-body"><div class="row"><div class="col-md-6" style="border-right: solid; border-right-width: 1px">41</div><div class="col-md-6">45</div></div></div>
                    <div class="panel-footer"> 09:45 - 18:15 </div>
                </div></a>
                </li>
                <li class="p_r_20"><a data-toggle="tab" data-target="#sunday1"> <div class="panel panel-primary ">
                    <div class="panel-heading">Sunday</div>
                    <div class="panel-body"><div class="row"><div class="col-md-6" style="border-right: solid; border-right-width: 1px">41</div><div class="col-md-6">45</div></div></div>
                    <div class="panel-footer"> 09:45 - 18:15 </div>
                </div></a>
                </li>
            </ul>
            <!--data-toggle="tab"-->

            <div class="tab-content m_tb_15">
                <!--TAB START-->
                <div class="tab-pane fade in active" id="monday1">
                    <!--<div>monday</div>-->
                    <table class="table table-striped" frame="box">
                        <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>John</td>
                            <td>Doe</td>
                            <td>john@example.com</td>
                        </tr>
                        <tr>
                            <td>Mary</td>
                            <td>Moe</td>
                            <td>mary@example.com</td>
                        </tr>
                        <tr>
                            <td>July</td>
                            <td>Dooley</td>
                            <td>july@example.com</td>
                        </tr>
                        <tr>
                            <td>July</td>
                            <td>Dooley</td>
                            <td>july@example.com</td>
                        </tr>
                        <tr>
                            <td>July</td>
                            <td>Dooley</td>
                            <td>july@example.com</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!--TAB END-->

                <!--TAB START-->
                <div class="tab-pane photo fade" id="tuesday1">
                    <!--<div>tuesday</div>-->
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>John</td>
                            <td>Doe</td>
                            <td>john@example.com</td>
                        </tr>
                        <tr>
                            <td>Mary</td>
                            <td>Moe</td>
                            <td>mary@example.com</td>
                        </tr>
                        <tr>
                            <td>July</td>
                            <td>Dooley</td>
                            <td>july@example.com</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--TAB END-->

                <!--TAB START-->
                <div class="tab-pane fade" id="wednesday1">
                    <div>wednesday</div>
                </div>
                <!--TAB END-->

                <!--TAB START-->
                <div class="tab-pane fade" id="friday1">
                    <div>friday</div>

                </div>
                <!--TAB END-->

                <!--TAB START-->
                <div class="tab-pane fade" id="thursday1">
                    <div>thursday</div>

                </div>
                <!--TAB END-->
                <!--TAB START-->
                <div class="tab-pane fade" id="saturday1">
                    <div>saturday</div>

                </div>
                <!--TAB END-->
                <!--TAB START-->
                <div class="tab-pane fade" id="sunday1">
                    <div>sunday</div>

                </div>
                <!--TAB END-->

            </div>


        </div>


    </div>

</div>

<!--dashboard end-->