<div class="container">

    <div ng-include="'./app/template/common/breadcrumb.tpl.html'"></div>

    <div class="row m_lr_0 p_tb_15">
        <div class="col-md-2 left-panel text-uppercase">
            <p class="p_tb_15" style="float: right"><i class="fa fa-users fa-2x"></i></p>
            <br>
            <h3 class="m_t_50">79</h3>
            <h4 class="bottom-green-line">Active Users</h4>
        </div>
        <div class="col-md-10 p_r_0">
            <table class="table table-striped" frame="box">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>

                </tbody>
            </table>
         </div>

    </div>

</div>