<section class="container footer">
    <!--<div class="row">-->
    <!--<div class="col-md-4">-->
        <!--<aside><h4>About ROSTAN</h4>-->
            <!--<div><p style="text-align:justify;">ROSTAN Technologies Pvt. Ltd. is a<br>-->
                <!--complete service organization with<br>-->
                <!--a very strong service base on ERPs,<br>-->
                <!--Business Intelligence and Database<br>-->
                <!--Services. </p>-->
                <!--<p><a href="#">Read More</a></p>-->
            <!--</div>-->
        <!--</aside>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
        <!--<aside>-->
        <!--<h4>Office</h4>-->
        <!--<div><p><strong>ROSTAN Technologies Pvt. Ltd.</strong><br>-->
            <!--(Formally Known as RST Global Technologies)<br>-->
            <!--Unit No 213, 2nd Floor, Centrum Plaza<br>-->
            <!--Golf Course Road, Sector – 53, Gurgaon<br>-->
            <!--India – 122002.</p>-->
        <!--</div>-->
    <!--</aside>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
        <!--<aside><h4>Contact</h4>-->
            <!--<div><p><i class="Defaults-mobile mobile-phone"></i> Mobile: 9810043200<br>-->
                <!--Email: Info@rostantechnologies.com</p>-->
            <!--</div>-->
        <!--</aside>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row copyright">-->
        <!--<h4> Copyright © 2018 ROSTAN Technologies Pvt. Ltd.</h4>-->
    <!--</div>-->
</section>